.signin_main {
  max-width: 90%;
  margin: auto;
  background-color: #fff;
  min-height: 80vh;
  width: 50%;
  border-radius: 10px;
  padding: 20px;
  display: inline;
  text-align: center;
  align-items: center;
}

.sign-in-btn {
  max-width: 400px;
  margin-top: 60px;
  padding: 0 30px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 47px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px  rgba(0, 0, 0, 0.02);
  transition: all 0.3s ease-in-out;
}

.sign-in-btn:hover {
  transform: scale(1.1);
  background-color: #3b5bfe;
}
.box {
    /* flex-grow: 6; */
    background-color: #f4f3f8;
    border-radius: 10px;
    padding: 20px 30px;
    padding-top: 80px;
    padding-bottom: 90px;
    display: block;
    /* align-items: center; */
    margin-top: 5rem;
    /* max-height: max-content; */
}

.box p  {
  color: gray;
}

/* .img {
  width: 20px;
  height: 20px;
} */



/* Smartphones (portrait) ----------- */

@media only screen 
and (max-width : 425px) {
/* Styles */
.box {
  margin-bottom: 10px;
  margin-top: 60px;
  padding: 10px 10px ;
  width: auto;
  height: auto; 
}
.box h1 {
  font-size: 4.5vh;
  text-align: center;
}

.signin_main {
  margin:auto 0px;
  padding: 0px;
  height: auto;
}

.sign-in-btn {

  max-width: 150px;
  max-height: 80px;
  height: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 20px;
  font-size: 2vh;
  padding-right: 10px;
  padding-left: 10px;
}

}

@media only screen 
and (max-width : 320px) {
  .sign-in-btn { 
    font-size: 1.5vh;

  } 
}