.main__chatbody {
    flex-grow: 1;
    background-color: #f4f3f8;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
  }


  /* Media queries */

/* Smartphones (portrait) ----------- */
 /* @media only screen 
and (max-width : 425px) {
/* Styles */
/* .main__chatbody {
  flex-direction: column;
  padding: 0px;
}

} */ 
